{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Articles
{% endblock title %}

{% block content %}
<h1>Все статьи</h1>
<h3>{{ time_now|date:'M d Y' }}</h3>
<h3>{{ articles|length }}</h3>
<hr>
{% if perms.APP_NewsPortal.add_article %}
<a href="{% url 'article_create' %}">Добавить статью</a>
{% endif %}
{% if articles %}
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Текст статьи
        </td>
        {% if perms.APP_NewsPortal.change_article or perms.APP_NewsPortal.delete_article %}
        <td>Действия</td>
        {% endif %}
    </tr>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.date_pub|date:'M d Y' }}</td>
        <td>{{ article.text|truncatechars:20 }}</td>
        <td>
            {% if perms.APP_NewsPortal.change_article %}
            <a href="{% url 'article_update' article.id %}">Изменить</a>
            {% endif %}
            {% if perms.APP_NewsPortal.delete_new %}
            <a href="{% url 'article_delete' article.id %}">Удалить</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Статей нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}