{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Articles
{% endblock title %}

{% block content %}
<h1>Поиск статей</h1>
<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" >
</form>
<h3>{{ time_now|date:'M d Y' }}</h3>
<h3>{{ articles_search|length }}</h3>
<hr>
{% if articles_search %}
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Текст статьи
        </td>
    </tr>
    {% for new in articles_search %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.date_pub|date:'M d Y' }}</td>
        <td>{{ article.text|truncatechars:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Статей нет!</h2>
{% endif %}
{% if articles|length != 0 %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endif %}
{% endblock content %}